@use "/src/style/mixins";

.user-info {
    display: flex;
    padding: 56px 24px 0px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    text-align: center;

    &-title {
        color: #161719;

        h2 {
            @include mixins.headline-md;
        }

        p {
            @include mixins.body-sm;
        }
    }

    &-email {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
        color: #7A7C81;
        text-overflow: ellipsis;
        @include mixins.body-lg;
    }
}